/* global styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: #111111;
    padding: 1rem;
}

.App{
    min-height: 100vh;
    background-color: #1b1b1b;
}

.content{
    text-align: center;
    margin-top: 100px;
}

.button-wrapper > button{
    margin: 1rem;
    padding: 0.3rem 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Poppins;
    color: white;
}

.social-icon{
    width: 25px;
    height: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.single-social{
    display: flex;
}

.single-social > span{
    margin-left: 5px;
}

.time{
    font-size: 2.5rem;
}

.start-button{
    background-color: rgb(59, 163, 59);
}

.pause-button{
    background-color: orange;
}

.reset-button{
    background-color: tomato;
}