/* global styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: #111111;
    padding: 1rem;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

button{
    margin: 1rem;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Poppins;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.App{
    min-height: 100vh;
    background-color: #1b1b1b;
}

.content{
    text-align: center;
    margin-top: 100px;
}

.social-icon{
    width: 25px;
    height: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.single-social{
    display: flex;
}

.single-social > span{
    margin-left: 5px;
}

.time{
    font-size: 5rem;
}

.start-button{
    background-color: rgb(59, 163, 59);
}

.pause-button{
    background-color: orange;
}

.reset-button{
    background-color: tomato;
}

.settings-button{
    background-color: teal;
}

.finished-timer-text{
    color: lightgreen;
}

.finished-timer-text-wrapper{
    height: 40px;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

@media all and (min-width: 576px){
    .button-wrapper{
        max-width: 576px;
    }
}