/* global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

header,
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #111111;
    padding: 0.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header span,
footer span {
    font-size: 0.8rem;
}

footer {
    position: absolute;
    bottom: 0;
}

button {
    margin: 1rem;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
    text-decoration: none;
    color: white;
}

button,
a {
    transition: all 0.3s ease-out 0s;
}

a:hover,
button:hover {
    opacity: 0.6;
}

button:disabled{
    opacity: 0.2;
}

.App {
    min-height: 100vh;
    background-color: #292929;
}

.content {
    text-align: center;
    margin-top: 20px;
}

.content > p {
    width: 80%;
    margin: auto;
}

.single-social>a {
    display: flex;
    align-items: center;
}

.single-social>a>span {
    margin-left: 5px;
}


.time {
    font-size: 5rem;
}

.start-button {
    background-color: rgb(59, 163, 59);
}

.pause-button {
    background-color: orange;
}

.reset-button {
    background-color: tomato;
}

.finished-timer-text {
    color: lightgreen;
}

.finished-timer-text-wrapper {
    height: 40px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.main-button-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 10%;
}

.settings-button {
    background-color: #111111;
}

.modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
    z-index: 1;
}

.show-modal {
    display: flex;
}


.modal-content {
    padding: 1rem;
    background-color: rgba(46, 46, 46, 0.95);
    margin: 1rem;
    border-radius: 7px;
    height: 320px;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.modal-bg .modal-content form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.start-reset-wrapper{
    display: flex;
    justify-content: center;

}

.start-reset-wrapper button{
    width: 100%;
}

.current-settings-title{
    text-decoration: underline;
}

form label{
    text-decoration: underline;
}

.switch-container{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 576px) {
    .button-wrapper {
        max-width: 576px;
    }
    
    .modal-content {
        max-width: 500px;
    }

    .time {
        font-size: 5.5rem;
    }
    
}

@media all and (min-width: 992px) {

    .content > p {
        width: 600px;
    }

    .time {
        font-size: 8rem;
    }
}