/* global styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
}

header, footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #111111;
    padding: 0.5rem;
    width: 100%;
}

header span {
    font-size: 0.8rem;
}

footer{
    position: absolute;
    bottom: 0;
}

button{
    margin: 1rem;
    padding: 0.8rem 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Poppins;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

button, a{
    transition: all 0.3s ease-out 0s;
}

a:hover, button:hover{
    opacity: 0.6;
}

.App{
    min-height: 100vh;
    background-color: #1b1b1b;
}

.content{
    text-align: center;
    margin-top: 100px;
}

.single-social > a {
    display: flex;
    align-items: center;
}

.single-social > a > span{
    margin-left: 5px;
}


.time{
    font-size: 5rem;
}

.start-button{
    background-color: rgb(59, 163, 59);
}

.pause-button{
    background-color: orange;
}

.reset-button{
    background-color: tomato;
}

.finished-timer-text{
    color: lightgreen;
}

.finished-timer-text-wrapper{
    height: 40px;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

@media all and (min-width: 576px){
    .button-wrapper{
        max-width: 576px;
    }
}